<html lang='en'>
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non accusantium ea odio! Officia maiores nisi fugit laboriosam, aliquid, deserunt magni harum illum et, atque ipsam. Maiores voluptatibus porro quidem aspernatur?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non accusantium ea odio! Officia maiores nisi fugit laboriosam, aliquid, deserunt magni harum illum et, atque ipsam. Maiores voluptatibus porro quidem aspernatur?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non accusantium ea odio! Officia maiores nisi fugit laboriosam, aliquid, deserunt magni harum illum et, atque ipsam. Maiores voluptatibus porro quidem aspernatur?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>